<form>
  <div class = "form-group">
    <div class = "input-group">
      <div class =  "input-group-addon"><i class = "fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Enter a season" ng-model="standingsYear">      
    </div>
  </div>
</form> 

<table class = "table table-bordered table-striped table-hover">
  <thead>
      <tr><th colspan="4">{{standingsYear}} F1 Constructors Championship Standings</th></tr>
      <th>
      	<a href= "" ng-click="sortType = 'Constructor.name'; sortReverse = !sortReverse">
          Constructor
          <span ng-show="sortType == 'Constructor.name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Constructor.name' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>

      <th>
        <a href= "" ng-click="sortType = 'wins'; sortReverse = !sortReverse">
          Wins
          <span ng-show="sortType == 'wins' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'wins' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>

      <th>
	    <a href= "" ng-click="sortType = 'points'; sortReverse = !sortReverse">
          Points
          <span ng-show="sortType == 'points' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'points' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
  </thead>
  <tbody>
    <tr ng-repeat="constructor in constructorsList | orderBy:sortType:sortReverse">
      <td>
        <a ng-href={{constructor.Constructor.url}}><img src="images/{{constructor.Constructor.name}}.png">{{constructor.Constructor.name}}</a>
      </td>
      <td>{{constructor.wins}}</td>
      <td>{{constructor.points}}</td>
    </tr>
  </tbody>
</table> 